<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interface_dao.IBoardDao">
	<insert id="insertBoard" parameterType="java.util.HashMap">
		insert into board values(0,#{boardCode},#{title},#{writer},#{content},
		0,sysdate(),#{category},#{name},#{resist},#{lostDate},#{kind},
		#{weight},#{age},#{sex},#{phone},#{email},#{birthday},#{starPoint},0,#{lostPlace},
		#{fileUri},#{fileId})	
	</insert>
	<update id="updateBoard" parameterType="java.util.HashMap">
		update board set title=#{title},writer=#{writer}, content=#{content}, readCount=#{readCount},
		category=#{category}, name=#{name},
		resist=#{resist}, lostDate=#{lostDate}, lostPlace=#{lostPlace}, kind=#{kind}, 
		weight=#{weight}, age=#{age}, sex=#{sex}, phone=#{phone},
		email=#{email}, birthday=#{birthday}, starPoint=#{starPoint},
		likeCount=#{likeCount}, fileUri = #{fileUri}, fileId = #{fileId}
		  where boardIdx=#{boardIdx}
	</update>	
	<delete id="deleteBoard" parameterType="int">
		delete from board where boardIdx=#{boardIdx}
	</delete> 
	<select id="getUserPwd" parameterType="String" resultType="String">
		select password from userinfo u, board b where u.id = b.writer
	</select>
	<select id="selectPetinfo" parameterType="int" resultType="java.util.HashMap">
		<!-- petinfo와 조인해서 애견정보 가져오기  -->
		select * from petinfo where idx=#{idx}
	</select>
	<select id="selectBoardById" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from board where id=#{id} and boardCode=#{boardCode}
	</select>
	<select id="selectOneBoard" parameterType="int" resultType="java.util.HashMap">
		<!-- 게시글번호로 게시글하나 선택 -->
		select * from board where boardIdx=#{boardIdx}
	</select>
	<select id="selectBoardList" parameterType="int" resultType="java.util.HashMap">
		<!-- 게시판유형에 따른 게시글 보기 -->
		select * from board where boardCode=#{boardCode} order by boardIdx
	</select>
	<select id="selectAllBoard" resultType="java.util.HashMap">
		<!-- 게시글 전체보기 -->
		select * from board order by boardIdx
	</select>
	<select id="searchBoard" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<!-- 글제목으로 검색 -->
		select * from board where boardCode=#{boardCode} and
		<if test="category != ''"> 
			<choose>
				<when test="category == '수컷' or category == '암컷'">
					sex=#{category} and
				</when>
				<otherwise>category=#{category} and</otherwise>
			</choose>
		</if> 
		<if test="type == 1">
		title like CONCAT('%',#{keyword},'%')
		</if>
		<if test="type == 2">
		content like CONCAT('%',#{keyword},'%')
		</if>
		<if test="type == 3">
		(title like CONCAT('%',#{keyword},'%') or content like CONCAT('%',#{keyword},'%'))
		</if>
		<if test="type == 4">
		writer like CONCAT('%',#{keyword},'%')
		</if>
		<if test="type == 5">
		name like CONCAT('%',#{keyword},'%')
		</if>
		<if test="type == 6">
		lostPlace like CONCAT('%',#{keyword},'%')
		</if>
		order by boardIdx desc limit #{skip}, #{count}
	</select>

	<select id="selectByBoastnum" resultType="java.util.HashMap">
		<!-- 좋아요 많은순으로 정렬 -->
		select * from board where boardCode=3 order by likeCount desc 
	</select>
	<select id="selectBoardLimit" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<!-- 한페이지에 보여줄 게시물 수  -->
		select * from board where boardCode=#{boardCode} order by boardIdx desc
		limit #{skip}, #{count}
	</select>
	<select id="getBoardCount" parameterType="int" resultType="int">
		<!-- 총게시물 수 불러오기 -->
		select count(*) from board where boardCode=#{boardCode}
	</select>
	<select id="getSearchCount" parameterType="java.util.HashMap" resultType="int">
		<!-- 제목검색 결과 게시물 수 불러오기 -->
		select count(*) from board where boardCode=#{boardCode}
		<if test="category != ''"> 
			<choose>
				<when test="category == '수컷' or category == '암컷'">
					and sex=#{category}
				</when>
				<otherwise>and category=#{category}</otherwise>
			</choose>
		</if> 
		and 
		<if test="type == 1">
		title like CONCAT('%',#{keyword},'%')
		</if>
		<if test="type == 2">
		content like CONCAT('%',#{keyword},'%')
		</if>
		<if test="type == 3">
		(title like CONCAT('%',#{keyword},'%') or content like CONCAT('%',#{keyword},'%'))
		</if>
		<if test="type == 4">
		writer like CONCAT('%',#{keyword},'%')
		</if>
		<if test="type == 5">
		name like CONCAT('%',#{keyword},'%')
		</if>
		<if test="type == 6">
		lostPlace like CONCAT('%',#{keyword},'%')
		</if>
	</select>
	<update id="increaseLikeCount" parameterType="int">
		<!-- 좋아요 수 증가시키기 -->		
		update board set likeCount=#{likeCount}
	</update>
</mapper>
