<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interface_dao.IBoardDao">
	<insert id="insertBoard" parameterType="java.util.HashMap">
		insert into board values(0,#{boardCode},#{title},#{writer},#{content},
		0,sysdate(),#{category},#{name},#{resist},#{lostDate},#{kind},
		#{weight},#{age},#{sex},#{phone},#{email},#{birthday},#{starPoint},0)	
	</insert>
	<update id="updateBoard" parameterType="java.util.HashMap">
		update board set title=#{title},writer=#{writer}, content=#{content}, readCount=#{readCount},
		writeDate=#{writeDate}, category=#{category}, name=#{name},
		resist=#{resist}, lostDate=#{lostDate}, kind=#{kind}, 
		weight=#{weight}, age=#{age}, sex=#{sex}, phone=#{phone},
		email=#{email}, birthday=#{birthday}, starPoint=#{starPoint},
		likeCount=#{likeCount} where boardIdx=#{boardIdx}
	</update>	
	<delete id="deleteBoard" parameterType="int">
		delete from board where boardIdx=#{boardIdx}
	</delete>
	<select id="selectOneBoard" parameterType="int" resultType="java.util.HashMap">
		<!-- 게시글번호로 게시글하나 선택 -->
		select * from board where boardIdx=#{boardIdx}
	</select>
	<select id="selectBoardList" parameterType="int" resultType="java.util.HashMap">
		<!-- 게시판유형에 따른 게시글 보기 -->
		select * from board where boardCode=#{boardCode} order by boardIdx
	</select>
	<select id="selectAllBoard" resultType="java.util.HashMap">
		<!-- 게시글 전체보기 -->
		select * from board order by boardIdx
	</select>
	<select id="select_by_name" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<!-- 글쓴이로 검색 -->
		select * from board where writer like '%${writer}%'
	</select>
	<select id="select_by_title" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<!-- 글제목으로 검색 -->
		select * from board where title like '%${title}%'
	</select>
	<select id="select_by_keyword" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<!-- 글내용으로 검색 -->
		select * from board where content like '%${content}%'
	</select>
	<select id="select_by_boastnum" resultType="java.util.HashMap">
		<!-- 좋아요 많은순으로 정렬 -->
		select * from board order by likeCount desc
	</select>
	<select id="selectBoardLimit" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<!-- 한페이지에 보여줄 게시물 수  -->
		select * from board where boardCode=#{boardCode} limit #{skip}, #{count}
	</select>
	<select id="getBoardCount" resultType="int">
		<!-- 총게시물 수 불러오기 -->
		select count(*) from board where boardCode=#{boardCode}
	</select>
	<update id="increaseLikeCount" parameterType="int">
		<!-- 좋아요 수 증가시키기 -->		
		update board set likeCount=#{likeCount}
	</update>
</mapper>
