<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interface_dao.IDogKindDao">
	<insert id="insertDogKind" parameterType="java.util.HashMap">
		insert into dogkind values(#{kind}, #{dogSize}, 
		#{adultWeight})
	</insert>	
	<update id="updateDogKind" parameterType="java.util.HashMap">
		update dogkind set dogSize=#{dogSize},
		adultWeight=#{adultWeight} where kind=#{kind}
	</update>
	<delete id="deleteDogKind" parameterType="String">
		delete from dogkind where kind=#{kind}
	</delete>
	<select id="selectOneDogKind" parameterType="String" resultType="java.util.HashMap">
		select * from dogkind where kind=#{kind}
	</select>
	<select id="selectAllDogKind" resultType="java.util.HashMap">
		select * from dogkind
	</select>
</mapper>