<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="management">
	<insert id="insert" parameterType="management">
		insert into management values(0,#{code},#{date},#{weight})
	</insert>
	<update id="update" parameterType="management">
		update management set date=#{date], weight=#{weight} where management_idx=#{management_idx} 
	</update>	
	<delete id="delete" parameterType="int">
		delete from management where management_idx=#{management_idx}
	</delete>
	<select id="selectOne" parameterType="int" resultType="management">
		select * from management where management_idx=#{management_idx}
	</select>
	<select id="selectList" parameterType="int" resultType="management">
		select * from management where code=#{code} 
	</select>
	
</mapper>