<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interface_dao.IMedicalDao">
	<insert id="insertRealShotDate" parameterType="java.util.HashMap">
		insert into medicalmanage values(#{idx}, #{vaccineCode}, #{realShotDate},
		#{nextday}, #{dDay})		
	</insert>
	<update id="updateRealShotDate" parameterType="java.util.HashMap">
		update medicalmanage set realShotDate=#{realShotDate}, dDay=#{dDay}, nextday=#{nextday}
		where idx=#{idx} and vaccineCode=#{vaccineCode}
	</update>	
	<delete id="deleteRealShotDate" parameterType="java.util.HashMap">
		delete from medicalmanage where idx=#{idx} and vaccineCode=#{vaccineCode}
	</delete>
	<select id="selectRealShotDate" parameterType="java.util.HashMap" 
	resultType="java.util.HashMap">
		select * from medicalmanage where idx=#{idx} and vaccineCode=#{vaccineCode}
	</select>
	<select id="selectShotdayByDate" parameterType="int" resultType="java.util.HashMap">
		select * from medicalmanage where idx=#{idx} order by realShotDate
	</select>
	<select id="selectAllShotDate" parameterType="int"
	resultType="java.util.HashMap">
		select * from medicalmanage where idx=#{idx} order by vaccineCode;
	</select>
	<select id="selectDate" parameterType="java.util.HashMap"
	resultType="java.util.HashMap">
		select * from medicalmanage where realShotDate=#{realShotDate}
	</select>
	<select id="selectVc" parameterType="java.util.HashMap"
	resultType="java.util.HashMap">
		select * from medicalmanage where vaccineCode=#{vaccineCode} and idx=#{idx}
	</select>
	
	
	
	<insert id="insertMedicalcare" parameterType="java.util.HashMap">
		insert into medicalManagement values(0, #{petIdx}, #{vaccineCode},#{vaccineType}, #{degree}, #{realShotDate}, #{nextDate}, #{nextSchedules})		
	</insert>
	<delete id="deleteMedicalcare" parameterType="int">
		delete from medicalManagement where idx = #{idx}
	</delete>
	<select id="selectOne" parameterType="int" resultType="java.util.HashMap">
		select * from medicalManagement where idx = #{idx}
	</select>
	<select id="selectAdditionalVaccine" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from medicalManagement 
		where petIdx = #{petIdx} and vaccineCode = #{vaccineCode} and degree = #{degree} 
		order by realShotDate
	</select>
	<select id="selectNextSchedules" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from medicalManagement 
		where petIdx = #{petIdx} and vaccineCode = #{vaccineCode}
		order by nextSchedules is null ASC, nextSchedules ASC
	</select>
	<select id="selectLastSchedules" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select MAX(nextSchedules) AS lastPang from medicalManagement 
		where petIdx = #{petIdx} and vaccineCode = #{vaccineCode}
	</select>
	<select id="selectLastSchedulesOfAll" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select MAX(nextDate) AS lastPang from medicalManagement 
		where petIdx = #{petIdx} and vaccineCode = #{vaccineCode}
	</select>
	<select id="selectVaccine" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from medicalManagement where petIdx = #{petIdx}
	</select>
	
</mapper>
