<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interface_dao.IMedicalDao">
	<insert id="insertRealShotDate" parameterType="java.util.HashMap"
	resultType="int">
		insert into medicalmanage values(#{idx}, #{vaccineCode},#{realShotDate})		
	</insert>
	<update id="updateRealShotDate" parameterType="java.util.HashMap"
	resultType="int">
		update medicalmanage set realShotDate=#{realShotDate} where idx=#{idx} and vaccineCode=#{vaccineCode}
	</update>	
	<delete id="deleteRealShotDate" parameterType="java.util.HashMap"
	resultType="int">
		delete from medicalmanage where idx=#{idx} and vaccineCode=#{vaccineCode}
	</delete>
	<select id="selectRealShotDate" parameterType="java.util.HashMap" 
	resultType="java.util.HashMap">
		select * from medicalmanage where idx=#{idx} and vaccineCode=#{vaccineCode}
	</select>
</mapper>
