<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interface_dao.IPetInfoDao">
<sql id="resist">
	<choose>
		<when test="resist != null">
			#{resist}
		</when>
		<otherwise>
			'등록번호 미입력'
		</otherwise>
	</choose>
</sql>
<sql id="weight">
	<choose>
		<when test="weight != null">
			#{weight}
		</when>
		<otherwise>
			0
		</otherwise>
	</choose>	
</sql>
	<insert id="insertPetInfo" parameterType="java.util.HashMap"
	useGeneratedKeys="true" keyProperty="idx">
		insert into petinfo values(0, #{resist}, #{id}, #{name}, #{kind}, #{birthday},
		#{neutral}, #{weight}, #{sex}, #{groomingStart}, #{groomingPeriod}, #{mainPet}, #{fileId})
	</insert>
	<update id="updateWeight" parameterType="java.util.HashMap">
		update petinfo set weight=#{weight} where idx=#{idx}
	</update>
	<update id="updatePetInfo" parameterType="java.util.HashMap">
		update petinfo set resist=#{resist}, name=#{name},
		kind=#{kind}, birthday=#{birthday}, neutral=#{neutral}, weight=#{weight},
		sex=#{sex}, groomingStart=#{groomingStart}, 
		groomingPeriod=#{groomingPeriod}, mainPet=#{mainPet}, fileId=#{fileId} where idx=#{idx}
	</update>
	<delete id="deletePetInfo" parameterType="int">
		delete from petinfo where idx=#{idx}
	</delete>
	<select id="selectOne" parameterType="int" resultType="java.util.HashMap">
		select * from petinfo where idx=#{idx}
	</select>
	<select id="selectPetList" parameterType="String" resultType="java.util.HashMap">
		select * from petinfo where id=#{id}
	</select>
	<select id="selectAll" resultType="java.util.HashMap">
		select * from petinfo
	</select>
	<select id="selectByName" parameterType="java.util.HashMap"
	resultType="java.util.HashMap">
		select * from petinfo where id=#{id} and name=#{name};
	</select>
</mapper>