<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
	<insert id="insertPetInfo" parameterType="petInfo">
		insert into petInfo values(0, #{resist}, #{userid}, #{name}, #{kind}, #{birthday},
		#{neutral}, #{weight}, #{sex}, #{groomingStart}, #{groomingPeriod})
	</insert>
	<select id="selectOne" parameterType="int" resultType="petInfo">
		select * from petInfo where 
	</select>
	<select id="selectAll" resultType="java.util.hasmap">
		select * from petInfo
	</select>
	<update id="updatePetInfo" parameterType="java.util.HashMap">
		update petInfo set where 
	</update>
	<delete id="deletePetInfo" parameterType="java.util.HashMap">
		delete from petInfo where 
	</delete>
</mapper>