<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="reple">
	<insert id="insert" parameterType="java.util.HashMap">
		insert into reple values(#{repleIdx}, #{boardIdx}, #{nickname}, #{content},
		#{writedate}, #{groupCode}, #{groupSeq}, #{groupLv})
	</insert>
	<update id="update" parameterType="java.util.HashMap">
		update reple set boardIdx=#{boardIdx}, nickname=#{nickname}, 
		content=#{content}, writedate=#{writedate}, groupCode=#{groupCode},
		groupSeq=#{groupSeq}, groupLv=#{groupLv} where repleIdx=#{repleIdx}
	</update>
	<delete id="delete" parameterType="int">
		delete from reple where repleIdx=#{repleIdx}
	</delete>
	<select id="selectOne" parameterType="int" resultType="java.util.HashMap">
		select * from reple where repleIdx=#{repleIdx}
	</select>
	<select id="selectAll" resultType="java.util.HashMap">
		select * from reple
	</select>
	<select id="select_by_nickname" parameterType="String" resultType="java.util.HashMap">
		select * from reple where nickname=#{nickname}
	</select>
</mapper>