<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userInfo">
	<insert id="insert" parameterType="userinfo">
		insert into userinfo values(0,#{id},#{password},#{nickname},#{sex},#{phoneNum},#{admin_check},#{email})
	</insert>
	<select id="select" parameterType="String" resultType="userinfo">
		select * from userinfo where id=#{id}
	</select>
	<select id="selectAll" resultType="userinfo">
		select * from userinfo
	</select>
	<delete id="delete" parameterType="String">
		delete from userinfo where id=#{id}
	</delete>
	<update id="update" parameterType="userinfo">
		update userinfo set #{password},#{nickname},#{sex},#{phoneNum},#{admin_check},#{email} where id=#{id}
	</update>
</mapper>