<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interface_dao.IUserInfoDao">
	<insert id="insertUserInfo" parameterType="java.util.HashMap">
		insert into userinfo values(0,#{id},#{password},#{nickname},#{sex},
		#{phone},#{adminCheck},#{email}
		,#{question1}, #{answer1}, #{question2}, #{answer2})
	</insert>
	<update id="updateUserInfo" parameterType="java.util.HashMap">
		update userinfo set password=#{password}, nickname=#{nickname},
		sex=#{sex}, phone=#{phone}, email=#{email}
		,question1=#{question1}, answer1=#{answer1}, 
		question2=#{question2}, answer2=#{answer2}
		where id=#{id}
	</update>
	<delete id="deleteUserInfo" parameterType="java.lang.String">
		delete from userinfo where id=#{id}
	</delete>
	<select id="selectOneUserInfo" parameterType="java.lang.String" resultType="model.UserInfo">
		select * from userinfo where id=#{id}
	</select>
	<select id="selectAllUserInfo" resultType="java.util.HashMap">
		select * from userinfo
	</select>
	<select id="selectBoardList" resultType="java.util.HashMap">
		select b.boardIdx, b.boardCode, b.title, b.writeDate, b.readCount
		from board b, userinfo u
		where u.nickname = b.writer and u.id = #{id}
	</select>
	<select id="idCheck" parameterType="String" resultType="String">
		select id from userinfo where id=#{id}
	</select>
	<select id="nicknameCheck" parameterType="String" resultType="String">
		select nickname from userinfo where nickname=#{nickname}
	</select>
	<select id="selectByNickname" parameterType="String" resultType="java.util.HashMap">
		select * from userinfo where nickname=#{nickname}
	</select>
	
	<select id="selectByNameId" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from userinfo where id=#{id} and nickname=#{nickname}
	</select>
	
	<select id="adminCheck" parameterType="java.lang.String" resultType="int">
		select adminCheck from userinfo where id=#{id}
	</select>
	<select id="phonenumCheck" parameterType="String" resultType="java.util.HashMap">
		select * from userinfo where phone=#{phone}
	</select>
	<select id="emailCheck" parameterType="String" resultType="java.util.HashMap">
		select * from userinfo where email=#{email}
	</select>	
	<select id="selectByEmailAndName" parameterType="java.util.HashMap" resultType="String">
		select id from userinfo where nickname=#{nickname} and email=#{email}
	</select>
	<select id="selectByPhoneAndName" parameterType="java.util.HashMap" resultType="String">
		select id from userinfo where nickname=#{nickname} and phone=#{phone}
	</select>
	<select id="Questioncheck" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from userinfo where question1=#{question1} and answer1=#{answer1}
		and question2=#{question2} and answer2=#{answer2} and id=#{id}
	</select>
</mapper>