<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interface_dao.IUserInfoDao">
	<insert id="insert" parameterType="java.util.HashMap">
		insert into userinfo values(0,#{id},#{password},#{nickname},#{sex},
		#{phone},#{adminCheck},#{email})
	</insert>
	<update id="update" parameterType="java.util.HashMap">
		update userinfo set id=#{id}, password=#{password}, nickname=#{nickname},
		sex=#{sex}, phone=#{phone}, adminCheck=#{adminCheck}, email=#{email}
		where idx=#{idx}
	</update>
	<delete id="delete" parameterType="int">
		delete from userinfo where idx=#{idx}
	</delete>
	<select id="selectOneUserInfo" parameterType="int" resultType="java.util.HashMap">
		select * from userinfo where idx=#{idx}
	</select>
	<select id="selectAllUserInfo" resultType="java.util.HashMap">
		select * from userinfo
	</select>
	<select id="selectBoardList" resultType="java.util.HashMap">
		select b.boardIdx, b.boardCode, b.title, b.writeDate, b.readCount
		from board b, userinfo u
		where u.nickname = b.nickname and u.id = #{id}
	</select>
</mapper>